# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.

In [38]:
L1 = [] # Lista vacía.

In [39]:
L2 = ['a', 'e', 'i', 'o', 'u'] # Lista con valores iniciales de tipo char.

In [40]:
L3 = [2,3,5,7,11] # Lista con valores enteros.

In [109]:
L4 = ['a', 5, True, "Juan Gabriel"] # Lista heterogénea con varios tipos de datos diferentes. Cada entrada es de un tipo de dato diferente:
print(type(L4[0]))
print(type(L4[1]))

<class 'str'>
<class 'int'>

In [42]:
L4

['a', 5, True, 'Juan Gabriel']

In [43]:
L5 = [0]*10 # Lista con 10 entradas de valor 0.

In [44]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [45]:
L4[0] # Las listas en Python empiezan en la posición número 0:

'a'

In [46]:
L4[1] # Segundo elemento de la lista:

5

In [47]:
L5[4] = 3.1415 # Modificación de valores:

In [48]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [110]:
L5[13] = 8 # De esta manera, a diferencia de R, no podemos crear nuevas entradas que no estaban definidas enteriormente.

IndexError: list assignment index out of range

In [111]:
L5[13] # Podemos confirmar que no está definida esa entrada.

IndexError: list index out of range

In [51]:
L4[0:2] # Accesos de posiciones múltiples (incluye la primera, pero no la última; es decir, va del índice 0 hasta el 1).

['a', 5]

In [52]:
L5[1:4] = [1,2,3] # CAmbiar la entradas de lo índice 1 hasta el 3 por los valores de la lista [1,2,3] en orden respectivo.

In [53]:
L5 # Ahora se aprecian los cambios:

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [54]:
L5.append(8) # Para añadir o indexar nuevas entradas, se usa la funci+on append(), la cual añade la entrada después de la último índice que tenía definido el vector:

In [55]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8]

In [56]:
L5.remove(3)# Elimina la primera ocurrencia del objeto 3 de la lista L5, es decir busca el elemento a eliminar, no por índice:

In [57]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8]

In [58]:
L5.reverse() # Invierte el orden de las entradas:

In [59]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [60]:
L5.count(0) # Contar el número de veces que aparece el elemento 0 en la lista L5:

6

In [61]:
L5.index(2) # Encuentra el índice del elemento 2 en la lista L5, en caso de existir dentro de la lista:

7

In [62]:
len(L5) # Obtiene la longitud de la lista L5:

10

In [63]:
L = [1,2,3,4,5,6]

In [64]:
L[1::2] # acar elementos en posición impar:

[2, 4, 6]

In [65]:
L[::2] # Sacar elementos en posición par:

[1, 3, 5]

In [66]:
L[-1] # Nos da el último elemento de la lista:

6

In [67]:
8 in L # Verifica si el elemento 8 está en la lista L:

False

In [68]:
4 in L # Verifica si el elemento 4 está contenido en la lista:

True

# Bucles

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [69]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [70]:
# La variable "numero" se queda con el último valor del bucle anterior.
numero

6

In [71]:
for x in range(0,10): # range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [72]:
for c in "Juan Gabriel":
    print(c)

J
u
a
n

G
a
b
r
i
e
l

In [73]:
# Obtener el promedio de un conjunto de notas:
notas = [3.5, 6.7, 8, 9, 4.5]
suma = 0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

El bucle **while** se repite hasta que la condición booleana deja de ser cierta.

In [74]:
count = 0
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [75]:
# La función enumerate() retorna en la priemra entrada el índice; y en la segunda, el valor de la entrada correspondiente:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos): 
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [76]:
# Otra forma de imprimir cada entrada con su índice respectivamente:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

# Tupla
Una tupla es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo).

In [77]:
# Tupla con dos valores: 1 y un espacio en blanco.
p1 = (1,)

In [78]:
p1

(1,)

In [79]:
# Tupla de valores enteros:
p2 = (1,2,3,4)

In [80]:
p2

(1, 2, 3, 4)

In [81]:
# Tupla con enteros y strings
p3 = (1,2,'c',3.1415)

In [82]:
p3

(1, 2, 'c', 3.1415)

In [83]:
# La primera entrada de la tupla p3:
p3[0]

1

In [84]:
# Las primeras dos entradas de la tupla p3:
p3[0:2]

(1, 2)

In [85]:
# Asignar en orden a variables distintas los valores de la tupla p3:
a,b,c,d = p3

In [86]:
a

1

In [87]:
b

2

In [88]:
c

'c'

In [89]:
d

3.1415

In [90]:
# Convertir una tupla en una lista:
l3 = list(p3)
l3

[1, 2, 'c', 3.1415]

In [91]:
# Convertir una lista en una tupla:
p5 = tuple(L5)
p5

(8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [92]:
# Crear una lista a partir de los elementos separados de un texto de acuerdo a algún parámetor, ene ste caso, un espacio en blanco;:
"Hola que tal   estás".split(" ")

['Hola', 'que', 'tal', '', '', 'estás']

In [93]:
# Otro ejemplo, obtener una lista con strings que contienen números enteros:
"4,6,2,7,9,4,2".split(",")

['4', '6', '2', '7', '9', '4', '2']

In [1]:
# Se pide una cadena de números, sin strings, para guardar cada número (separados por una coma) y convertir la lista en una tupla:
numeros = input("Escribe números separados por comas.")
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

Escribe números separados por comas. 3,5,7,8,3,21

['3', '5', '7', '8', '3', '21']
('3', '5', '7', '8', '3', '21')

In [2]:
# Obtener el promedio de los números contenidos en la tupla "numerosT" conviertiéndolos en enteros con la función int()
suma = 0
for n in numerosT:
    suma += int(n)
    
print(suma/len(numerosT))

7.833333333333333

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves

In [3]:
# Imprimir, con texto, una variable de tipo string:
nombre = input("Introduce aquí tu nombre")
print("Hola %s"%nombre)

Introduce aquí tu nombre Tony

Hola Tony

In [5]:
# Imprimir, con texto, una lista de enteros string:
primos = [2,3,7,11,13,17,23,29]
print("Estos son los números primos: %s"%primos)

Estos son los números primos: [2, 3, 7, 11, 13, 17, 23, 29]

In [6]:
print("Esto es un número: %d"%suma)

Esto es un número: 47

In [7]:
media = suma/len(numerosT)
print("Esto es un número decimal: %.0f"%media)

Esto es un número decimal: 8

In [13]:
# Diccionarios con 4 llaves y valores enteros asociados:
edad = {
    "Juan Gabriel":30, 
    "María":20, 
    "Ricardo":53, 
    "Antonio":45
}
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 53, 'Antonio': 45}

In [9]:
# Imprimir el valor asociado a la llave "Ricardo":
edad["Ricardo"]

53

In [10]:
# Modificar el valor asociado a la llave "Ricardo":
edad["Ricardo"] = 52

In [100]:
# Las llaves del dicionario "edad":
edad.keys()

dict_keys(['Juan Gabriel', 'María', 'Ricardo', 'Antonio'])

In [101]:
# Valores dentro del diccionario "edad":
edad.values()

dict_values([30, 20, 52, 45])

In [102]:
# Longitud del diccionario:
len(edad)

4

In [103]:
# Veamos si la llave "Pepe" está dentro del diccionario:
"Pepe" in edad

False

In [104]:
# Veamos si la llave "María" está dentro del diccionario:
"María" in edad

True

In [105]:
# Veamos si la llave "Mario" no está dentro del diccionario:
"Mario" not in edad

True

In [15]:
# Borrar la llave "María":
del edad["María"]

In [16]:
edad

{'Juan Gabriel': 30, 'Ricardo': 53, 'Antonio': 45}

In [17]:
# Diccionario que guarda distinto tipo de datos:
notas = {"Al1": 5.6, "Al2":7.5, "Al3": 10, "Al4":False}
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}